<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <appender name="console_appender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>[%d{HH:mm:ss}] [%thread] [%level] [%logger] [%msg]%n</Pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="console_appender"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="console_appender"/>
        </root>
    </springProfile>

</configuration>